.anime_extra_info_segment_parts{
    height: 27em;
    margin: 1em 20em;
    border: .1em solid transparent;
    box-shadow: 1px 1px 1px lightgrey;
    border-radius: .5em;
    background-color: rgb(230, 221, 221);
}