.access--application__styles {
    padding: .5em;
    margin: .5em;
}

.auth--button__style {
    font-size: 1.25em;
    color: white;
    border: 1px solid black;
    border-radius: .5em;
    padding: .50em;
    margin: 0em 2em;
    font-weight: bold;

    &:hover {
        background-color: #3291e4;
        border-radius: .5em;
        color: black;
        border: 1px solid rgb(65, 110, 120);
    }
}

@media only screen and (max-width: 500px) {
    .access--application__styles {
        flex-direction: column;
        padding: .25em;
        align-items: center;
        justify-content: center;
        padding: .5em;
        margin: .5em;
    }

    .auth--button__style {
        margin: .5em;
        align-items: center;
        display: flex;
        font-size: 1em;
        padding: .5em;
    }
}

.userData_style {
    background-color: #3291e4;
    border: 2px solid black;
    border-radius: .5em;
    padding: .25em;
    font-size: 1.5em;
    font-weight: bold;
    box-shadow: 1px 1px 1px rgb(123, 185, 206);
}