.nav__style{
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    position: fixed;
    top: 0;
    min-width: -webkit-fill-available;
    z-index: 100;
    background-color: #27292d;
}

// @media only screen and (max-width: 1000px){
//     .nav__style{
//         background-color: transparent;
//     }
// }

// .search--mode__style{
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: space-between;
//     align-items: center;
// }