.episode_container {
    border: 5px double black;
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 6em;
    width: 98%;
    box-sizing: border-box;
    align-items: center;
    margin: .60em;
    padding: .5em;
    border-radius: 1em;

    h3 {
        font-size: 1em;
        width: 30%;
        border: 2px solid lightslategrey;
        border-radius: .5em;
        font-weight: bolder;
        margin: .25em;
        padding: .25em;
    }

    .episode_number{
        font-size: 1em;
        width: fit-content;
        background-color: rgb(191, 189, 189);
        border: 2px solid lightslategrey;
        border-radius: .5em;
        font-weight: bolder;
        margin: .25em;
        padding: .25em;
        
        &:hover{
            cursor: pointer;
            background-color: rgb(86, 86, 86);
            color: white;
        }
    }

    p {
        font-size: 1em;
        margin: .25em;
        padding: .25em;
        border: 1px solid black;
        border-radius: .5em;
        font-weight: bolder;
    }

    .extra_details_episodes {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;

        p{
            width: 100%;
        }
    }
}


@media only screen and (max-width: 768px) {
    .episode_container{
        h3 {
            font-size: 1em;
            width: 40%;
        }
        .episode_number{
            font-size: 1em;
        }
    
        p {
            font-size: .75em;
        }
    
        .extra_details_episodes {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
    
            p{
                font-size: .75em;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .episode_container{
        h3 {
            font-size: 1em;
            width: 40%;
        }
        .episode_number{
            font-size: 1em;
        }
    
        p {
            font-size: .75em;
        }
    
        .extra_details_episodes {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
    
            p{
                font-size: .5em;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .episode_container{
        height: 5em;
        width: 95%;
        margin: .5em;

        h3 {
            font-size: .5em;
            width: 50%;
        }
    
        .episode_number{
            font-size: .75em;
            margin: 0em;
            padding: 0em;
            width: 20%;
            
            &:hover{
                cursor: pointer;
                background-color: rgb(86, 86, 86);
                color: white;
            }
        }
    
        p {
            font-size: .5em;
            margin: 0em;
            padding: 0em;
        }
    
        .extra_details_episodes {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
    
            p{
                font-size: .5em;
                width: 100%;
                padding: 0em;
            }
        }
    }
}