.seasons_elements{
    h2{
        font-weight: bold;
        font-size: 2em;
        color: white;
    }
}

.seasons_element{
    color: white;
    font-weight: bold;
    background-color: rgb(33, 31, 31);
    margin: .5em;
    border-radius: 1em;
    cursor: pointer;

    h4{
        padding: .5em;
        font-size: 1.40em;
        display: inline-block;
    }

    .dropdown_style{
        width: 2em;
        display: inline-block;
        height: 2em;
        margin: .5em;
    }
}

.seasons_list{
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: .5em;
    
    li {
        border: .5px solid black;

        &:hover{
            background-color: lightslategrey;
        }
    }
}