.container_styling {
    padding: .5em;
    margin: .5em;
    background-color: rgb(25, 24, 24);
    border-radius: 1em;

    h1 {
        font-size: 3em;
        font-weight: bolder;
        color: white;
        text-align: center;
    }
}

.data_container_style {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    flex-grow: 1;
}

.container_element_style {
    width: 18em;
    height: 25em;
    padding: .5em;
    background-color: white;
    border-radius: 1em;
    padding: .5em;
    margin: .5em;
    position: relative;
    cursor: pointer;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 1em;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        color: white;
        text-align: center;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        h5 {
            font-size: 1.5em;
            padding: .5em;
        }

        p {
            font-size: 1.25em;
            padding: .5em;
        }
    }

    &:hover .overlay {
        opacity: 1;
        backdrop-filter: brightness(25%);
        border-radius: 1em;
    }
}

.container_buttons_style {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navContent_button_style {
    width: 3em;
    height: 3em;
    background-color: lightslategrey;
    border-radius: 2em;
    cursor: pointer;
    margin: .5em;

    &:hover {
        background-color: white;
        transform: scale(1.5);
    }
}