.anime_summary{
    padding: .5em;
    margin: .5em;

    h3{
        display: inline-block;
        font-size: 2em;
        color: white;
        font-weight: bold;
    }

    p{
        display: inline-block;
        font-size: 1em;
        padding: .25em;
        color: lightgray;
    }
}